<section class="section-titulo">
    <h1>Catálogo</h1>
</section>
<section class="section-general">
    <section class="section-filtros">
        <div class="contenedor-precios">
            <div>
                <h5>Filtrar por precio</h5>
            </div>
            <div class="contenedor-rangos">
                <label>
                    Mínimo: $2.000
                    <input type="range" name="precioMinimo" id="" step="1000" min="2000" max="50000" value="2000">
                </label>
                <label>
                    Máximo: $100.000
                    <input type="range" name="precioMaximo" id="" step="1000" min="52000" max="100000" value="100000">
                </label>
                <p>Rango: <br /> $2.000 - $100.000</p>
            </div>
            <!-- <div>
                <p>Precio: $2.000 - $100.000</p>
            </div> -->
        </div>
        <div class="contenedor-categorias">
            <div>
                <h5>Categorías</h5>
            </div>
            <div>
                <ul>
                    <li>Categoría A</li>
                    <li>Categoría B</li>
                    <li>Categoría C</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section-productos">
        <div class="contenedor-orden">
            <div class="contenedor-texto-buscador">
                <p>Buscar por nombre:</p>
            </div>
            <div>
                <p>Orden:</p>
            </div>
            <div class="contenedor-buscador">
                <input type="search" name="buscador" id="" placeholder="Buscar producto">
            </div>
            <div class="contenedor-ordenar">
                <!-- Orden ascendente, descendente, mayor precio, menor precio -->
                <div class="contenedor-listaOrdenar">
                    <!-- <input class="btn-ordenar" type="button" value="Ascendente - Mayor precio"> -->
                    <button class="btn-ordenar">
                        <p>Ascendente - Mayor precio</p>
                        <img src="../../../assets/iconos/logo-flecha-menu.png" alt="Logo flecha">
                    </button>
                    <!-- <form>
                        <label>
                            <input type="radio" name="orden" id="" value="ascendente" checked>
                            Ascendente
                        </label>
                        <label>
                            <input type="radio" name="orden" id="" value="descendente">
                            Descendente
                        </label>
                        <label>
                            <input type="radio" name="precioOrden" id="" value="mayorPrecio" checked>
                            Mayor precio
                        </label>
                        <label>
                            <input type="radio" name="precioOrden" id="" value="menorPrecio">
                            Menor precio
                        </label>
                        <input type="submit" value="Ordenar">
                    </form> -->
                </div>
            </div>
        </div>
        <div class="contenedor-productos">
            <div class="contenedor-card">
                <div class="card-img">
                    <img src="../../../assets/imagenes/img-prueba.png" alt="Imagen de prueba">
                </div>
                <div class="card-texto">
                    <p>Producto Prueba</p>
                    <p>$60.000</p>
                </div>
            </div>
            <div class="contenedor-card">
                <div class="card-img">
                    <img src="../../../assets/imagenes/img-prueba.png" alt="Imagen de prueba">
                </div>
                <div class="card-texto">
                    <p>Producto Prueba</p>
                    <p>$60.000</p>
                </div>
            </div>
            <div class="contenedor-card">
                <div class="card-img">
                    <img src="../../../assets/imagenes/img-prueba.png" alt="Imagen de prueba">
                </div>
                <div class="card-texto">
                    <p>Producto Prueba</p>
                    <p>$60.000</p>
                </div>
            </div>
            <div class="contenedor-card">
                <div class="card-img">
                    <img src="../../../assets/imagenes/img-prueba.png" alt="Imagen de prueba">
                </div>
                <div class="card-texto">
                    <p>Producto Prueba</p>
                    <p>$60.000</p>
                </div>
            </div>
        </div>
    </section>
</section>