.section-titulo {
    text-align: center;
}

.section-general {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    padding: 20px;
    justify-content: center;
}


/* -------------------- Sección Filtros -------------------- */

.cerrar-filtros {
    display: none;
}

.section-filtros {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding-right: 20px;
}

/* ---------- Contenedor Filtrar por precios ---------- */

.titulo-filtro {
    margin: 5px 0px;
    font-size: 1rem;
}

.linea-division {
    margin-bottom: 10px;
    height: 3px;
    background-color: black;
    border-color: black;
}

.contenedor-rangos {
    width: 100%;
    padding: 5px 0px;
}

.contenedor-rangos label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.contenedor-rangos p {
    margin: 0px;
}

.lista-categorias li {
    list-style: none;
    padding: 5px 5px;
    border-bottom: 1px solid gray;
}

.lista-categorias li a {
    text-decoration: none;
    color: black;
}


/* -------------------- Sección Productos -------------------- */

.section-productos {
    width: auto;
}

/* ---------- Contenedor Buscar y Ordenar ---------- */

.contenedor-btn-filtros {
    display: none;
}

.btn-menu-filtros {
    cursor: pointer;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 5px;
    transition: all ease 200ms;
}

.btn-menu-filtros:active {
    border: 1px solid rgb(67, 67, 67);
    background-color: rgb(201, 201, 201);
    transform: scale(0.9);
}

.contenedor-orden {
    display: grid;
    grid-template-columns: 1fr 160px;
    row-gap: 5px;
    column-gap: 10px;
    width: 100%;
    justify-content: space-between;
    /* align-items: center; */
}

.contenedor-orden p {
    margin: 0px;
}

.contenedor-buscador input {
    width: 100%;
    height: 35px;
    font-size: 1rem;
    border-radius: 10px;
    padding: 0px 10px;
    border: 1px solid rgb(118, 118, 118);
    outline: none;
}

.contenedor-buscador input:focus {
    outline: 1px solid rgb(160, 160, 160);
}

.contenedor-ordenar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contenedor-listaOrdenar {
    font-size: 1rem;
    position: relative;
}

.contenedor-listaOrdenar .btn-ordenar {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    padding-right: 0px;
    padding-left: 5px;
    /* width: 100%; */
    height: 35px;
    border-radius: 10px;
    border: 1px solid rgb(118, 118, 118);
    cursor: pointer;
    transition: all ease 200ms;
}

.contenedor-listaOrdenar .btn-ordenar:active {
    border: 1px solid rgb(67, 67, 67);
    background-color: rgb(201, 201, 201);
}

.contenedor-listaOrdenar .btn-ordenar p {
    text-wrap: nowrap;
    overflow: hidden;
    font-size: 0.9rem;
}

.contenedor-listaOrdenar .btn-ordenar img {
    width: 24px;
}

.contenedor-filtros {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 10px;
    padding: 5px 10px;
    z-index: 1;
    width: 100%;
}

.contenedor-filtros input[type=button] {
    width: min-content;
    margin: 5px auto 0px auto;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid rgb(118, 118, 118);
    font-family: "Open Sans", sans-serif;
    transition: all ease 100ms;
}

.contenedor-filtros input[type=button]:active {
    border: 1px solid rgb(67, 67, 67);
    background-color: rgb(201, 201, 201);
}


/* ---------- Contenedor Productos Disponibles ---------- */

.contenedor-productos {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 15px 15px;
}


/* ---------- Diseño tarjeta de producto ---------- */

.contenedor-card {
    display: flex;
    flex-direction: column;
    /* width: 250px; */
    border: 1px solid rgb(201, 201, 201);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all ease 100ms;
}

.contenedor-card:hover {
    box-shadow: 0px 0px 8px 4px rgb(221, 221, 221);
    transform: translateY(-3px)
}

.contenedor-card:active {
    box-shadow: none;
    transform: scale(0.99)
}

.contenedor-card .card-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.contenedor-card .card-img img {
    width: 100%;
    height: 100%;
}

.contenedor-card .card-texto {
    width: auto;
    padding: 10px;
}

.contenedor-card .card-texto p {
    margin: 0px;
}



@media(max-width: 1020px) {
    .section-general {
        margin: 0px;
        padding: 0px;
    }

    /* -------------------- Sección Filtros -------------------- */

    .cerrar-filtros {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        transition: all ease 100ms;
    }

    .cerrar-filtros:active {
        transform: scale(0.8);
    }

    .mostrar-seccion-filtros {
        display: block;
    }

    .ocultar-seccion-filtros {
        display: none;
    }

    .section-filtros {
        position: absolute;
        top: 0px;
        width: 100%;
        background-color: white;
        z-index: 2;
        height: 100%;
        padding: 50px 10px 0px 20px;
    }

    .contenedor-precios,
    .contenedor-categorias {
        width: 80%;
    }

    /* -------------------- Sección Productos -------------------- */

    /* ---------- Contenedor Buscar y Ordenar ---------- */

    .contenedor-btn-filtros {
        display: block;
    }

    .contenedor-orden {
        grid-template-columns: auto 1fr 160px;
    }


    /* ---------- Contenedor Productos Disponibles ---------- */

    .contenedor-productos {
        grid-template-columns: repeat(3, 200px);
    }

    /* ---------- Diseño tarjeta de producto ---------- */

    .contenedor-card .card-img {
        height: 150px;
    }
}

@media(max-width: 700px) {
    /* -------------------- Sección Productos -------------------- */

    /* ---------- Contenedor Buscar y Ordenar ---------- */

    .contenedor-orden {
        grid-template-columns: auto 1fr 160px;
    }

    /* ---------- Contenedor Productos Disponibles ---------- */

    .contenedor-productos {
        grid-template-columns: repeat(2, 250px);
    }

    /* ---------- Diseño tarjeta de producto ---------- */

    .contenedor-card .card-img {
        height: 200px;
    }
}

@media(max-width: 560px) {
    /* -------------------- Sección Productos -------------------- */

    /* ---------- Contenedor Buscar y Ordenar ---------- */

    .contenedor-orden {
        grid-template-columns: auto 1fr auto;
        column-gap: 5px;
        padding: 0px 5px;
    }

    /* ---------- Contenedor Productos Disponibles ---------- */

    .contenedor-productos {
        grid-template-columns: repeat(1, 250px);
        justify-content: center;
    }

    /* ---------- Diseño tarjeta de producto ---------- */

    .contenedor-card .card-img {
        height: 200px;
    }
}